<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bblanchon.PDFium.Win32" version="120.0.6056" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Csv" version="1.0.31" targetFramework="net472" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net472" />
  <package id="Lextm.SharpSnmpLib" version="10.0.9" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="PDFtoImage" version="2.4.2" targetFramework="net472" />
  <package id="PDFtoZPL" version="3.6.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net472" />
</packages>